body{
    background-color: black;
    border: 5px groove blueviolet;
}
h1,h2{
    color: wheat;
}
h3{
    color: rgb(200, 107, 53);
}
pre{
    color: rgb(47, 231, 185);
    font-size: 20px;
}
p{
    color: wheat;
    font-size: 20px;
}
